#git excludes
/bitrix/*
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/dbconn.restore.php
!/bitrix/admin/
/bitrix/admin/*
!/bitrix/components/
/bitrix/components/*
!/bitrix/template/
!/bitrix/templates/
/upload/*
/xml/
*.xml
*.csv
*log*.txt
*.log
lgn.php
web.config
.idea
/work
robots.txt
/test*/*
!/tests/api/
/tests/api/node_modules
.htaccess.restore

/restore.php
/local/log

